---
http_interactions:
- request:
    method: get
    uri: https://jobs.github.com/positions/19341a08-377e-11e3-862f-7f91026928c0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |
        {"id":"19341a08-377e-11e3-862f-7f91026928c0","created_at":"Thu Oct 17 22:48:01 UTC 2013","title":"Sr. Mobile Application Developer, Android at ModCloth","location":"San Francisco","type":"Full Time","description":"<p>ModCloth currently has an exciting opportunity for a highly skilled Android developer. You will join our San Francisco-based engineering team, building our v1.0 Android application for phone and tablet. Our iOS app is highly rated and designated an Editor\u2019s Choice app - so expectations are high!</p>\n\n<p>We are excited by the possibilities of the Android platform and the distribution options of the Play store; this is not just a port of our existing iOS app. We are looking to leverage the unique aspects of the platform and deliver a first class experience to our large (and growing) Android customer base.</p>\n\n<h3>Responsibilities:</h3>\n\n<p>Define, develop, and deliver features from product roadmap (v1.0 + ongoing)\nChampion best practices for Android development and testing\nCreate elegant and maintainable code\nRaise the team&#39;s skill level through pairing, design/code reviews, and mentoring\nResearch and prototype solutions to difficult problems, remove team roadblocks\nEnsure that finished products fully meet the UX designer\u2019s intention\nEvangelize the best new software libraries, techniques[...]
